.flash{
    text-align: center;
    height: 50px;
    max-width: 100%;
    width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: center; 
}
aside#flash-success{
    background: rgb(130, 248, 130);
  }
  
  aside#flash-error{
    background: rgb(248, 130, 130);
  }