nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: bold;
    color: rgba(100, 100, 100, 0.9 );
  }
  
  nav #focus{
    border-bottom: 1px solid rgba(100, 100, 100, 0.3 );
    border-right: 1px solid rgba(100, 100, 100, 0.3 );
  }
  
  nav #focusTwo{
    border-bottom: 1px solid rgba(100, 100, 100, 0.3 );
    border-left: 1px solid rgba(100, 100, 100, 0.3 );
  }
  
  nav p {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }